<!-- Source: Codepen -->
{% extends 'BP/base.html' %}

{% load static %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="{% static 'BP/css/about.css' %}">
<script src="js/about.js"></script> -->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">BluePages Serving...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

          <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-briefcase fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{company_count}}</div>
                                    <div>Startups</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'BP:company_directory' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{student_count}}</div>
                                    <div> Student Users </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'BP:student_directory' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-send fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{posting_count}}</div>
                                    <div>Job Postings </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'BP:index' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-university fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">1</div>
                                    <div>University</div>
                                </div>
                            </div>
                        </div>
                        <a href="https://www.yale.edu/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>About BluePages</h1>
                        <p>BluePages is the digital hub for student ventures, built in 2017 to help stimulate the entrepreneurial college community. Piloted at Yale University, the platform seeks to provide the tools and serviecs needed by student entrepreneurs to achieve their dreams and aspirations</p>
                        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'BP:index' %}">Browse Platform</a>
                        </p>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>

{% endblock %}
