{% extends 'BP/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'BP/bootstrap/vendor/datatables-plugins/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'BP/bootstrap/vendor/datatables-responsive/dataTables.responsive.css' %}">

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Company Directory</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Startups Looking to hire students 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Blurb</th>
                                        <th>Link</th>
                                        <th>Founders</th>
                                        <th>Contact</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in company_list %}
                                    {% if company.display_in_company_directory %}
                                    <tr class="odd gradeX">
                                        <td>{{company.company_name}}</td>
                                        <td>{{company.company_description}}</td>
                                        <td>{{company.company_link}}</td>
                                        <td class="center">{{company.company_founders}}</td>
                                        <td class="center">{{company.company_contact_info}}</td>
                                    </tr>
                                   {% endif %}
                                   {% endfor %}
                                </tbody>
                            </table>

                            <!-- /.table-responsive -->
                            <div class="well">
                                <h4>Additional Information</h4>
                                <p> This serves as the formal, comprehensive database of startups in the Yale community, from early-stage ideation projects to exit-ready ventures. For news on specific YEI-endorsed startups, visit the Yale Entrepreneurial Institute's website at <a target="_blank" href="http://yei.yale.edu/">http://yei.yale.edu/</a>.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="http://yei.yale.edu/">View 
                                Yale Entrepreneurial Institute</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}

    <!-- DataTables JavaScript -->
    <script src="{% static 'BP/bootstrap/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'BP/bootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'BP/bootstrap/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
