{% extends 'BP/base.html' %}

{% load static %}

{% block content %}

<center>

<center><img src="{% static 'BP/images/Banner.png' %}"></center>
<p><center> Digital Venture Hub </center><p>
    <p><center> Welcome {{ user.first_name }}! <center></p>

{% if postings_list %}
           <div class="container">
                <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
                    <h5>Recent Posts</h5>
                    <h2><span>Search</span></h2>
                </div>
                <div class="row jobs">
                    <div class="col-md-9">
                        <div class="job-posts table-responsive">
    {% for posting in postings_list %}

                            <table class="table">
                                <tr class="odd wow fadeInUp" data-wow-delay="1s">
<!--                                     <td class="tbl-logo"><img src="img/job-logo1.png" alt=""></td> -->
                                    <td class="tbl-title"><h4>{{posting.job}} <br><span class="job-type">full time</span></h4></td>
                                    <td><p>{{posting.company_name}}</p></td>
                                    <td><p><i class="icon-location"></i>{{posting.user}}</p></td>
                                    <td><p>{{posting.pay}}</p></td>
                                    <td class="tbl-apply"><a href="{% url 'BP:detail' posting.id %}">More...</a></td>
                                    {% if request.user == posting.user %}
                                    <a href="{% url 'BP:delete_posting' posting.id %}">Delete Posting</a>
                                    {% endif %}
                                </tr>
                            </table>
    {% endfor %}
                            </div>
                        <div class="more-jobs">
                            <a href=""> <i class="fa fa-refresh"></i>View more jobs</a>
                        </div>
                    </div>
                </div>
            </div>

{% else %}
    <p>No postings are available.</p>
{% endif %}
</center>
{% endblock %}